body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}

form button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background: #0056b3;
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
}

table th {
    background: #007BFF;
    color: #fff;
}

button.delete-btn, button.edit-btn {
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

button.delete-btn {
    background: #dc3545;
}

button.edit-btn {
    background: #28a745;
}

button.delete-btn:hover {
    background: #a71d2a;
}

button.edit-btn:hover {
    background: #19692c;
}
